:root {
  --blue-color: #2196f3;
  --black-color: #000000;
  --contact-color: #757575;
  --footer-section-color: #2f303a;
  --gray-background: #f5f4fa;
  --white-background: #ffffff;
  --main-font-color: #212121;
  --description-color: #757575;
  --main-image-linear-gradient: rgba(47, 48, 58, 0.4);
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --border-grid: #eeeeee;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --offer-description-background: rgba(47, 48, 58, 0.8);
  --overlay-background: rgba(33, 150, 243, 0.9);
  --grey-icon-color: #afb1b8;
  --fieldset-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

body {
  /* max-width: 1600px; */
  margin: auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--main-font-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.list-style {
  list-style-type: none;
  padding: 0px;
}

/* ===== HEADER ===== */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px 25px;
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.logo__studio {
  color: var(--black-color);
}

/* === navigation === */

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  margin-block: 0;
  margin-right: 371px;
}
.navigation__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-font-color);
  transition: color var(--transition-duration) var(--cubic-bezier);
  will-change: color;
}
.navigation__item:hover,
.navigation__item:focus {
  color: var(--blue-color);
}
.nav-agency-highlight,
.nav-portfolio-highlight {
  position: relative;
}
.nav-agency-highlight::after {
  left: 0;
  bottom: -33px;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--blue-color);
}
.nav-portfolio-highlight::after {
  left: 0;
  bottom: -33px;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--blue-color);
}

/* === contact === */

.contact-item {
  display: flex;
  align-items: center;
  color: var(--contact-color);
  fill: var(--contact-color);
  text-decoration: none;
  transition: color var(--transition-duration) var(--cubic-bezier),
    fill var(--transition-duration) var(--cubic-bezier);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-item:hover,
.contact-item:focus {
  color: var(--blue-color);
  fill: var(--blue-color);
}
.header-telephone,
.header-email {
  display: flex;
  align-items: center;
}
.contact-item__telephone,
.contact-item__envelope {
  fill: var(--contact-color);
  margin-right: 5px;
}
.contact-item__telephone:hover,
.contact-item__envelope:hover {
  fill: var(--blue-color);
}
.header-email:hover,
.header-telephone:hover {
  fill: var(--blue-color);
  transition: transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =====FIRST SECTION===== */

.section-primary {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-image-linear-gradient);
  background-image: url(../images/buisness-section-background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1600px;
  padding: 200px 452px;
}
.section-primary__header {
  display: flex;
  text-align: center;
  align-items: center;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: auto;
}
.section-primary__button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  padding: 10px 41px 10px 42px;
}

/* =====BACKDROP===== */

.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-color);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  transform: translateY(100%);
}

/* =====MODAL===== */

.modal {
  position: relative;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--white-background);
  margin: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__button--close-x {
  fill: var(--black-color);
}

/* === modal form === */

.modal__header {
  margin-block: 0px 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.fieldset {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 28px;
  padding-block: 14px;
  padding-left: 15px;
  border: 1px solid var(--fieldset-border-color);
  border-radius: 4px;
}
.fieldset__label {
  position: absolute;
  left: 0px;
  top: -17px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--contact-color);
}
.fieldset__icon {
  margin-right: 15px;
}
.fieldset__input,
.input-comment {
  border: none;
  width: 100%;
}
.input-comment {
  outline: none;
}
.fieldset__input:focus {
  outline: none;
}
.fieldset__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}
.fieldset:has(input:focus),
.fieldset:focus {
  border-color: var(--blue-color);
}
.fieldset:has(input:focus) {
  fill: var(--blue-color);
}
fieldset:nth-child(4) {
  height: 120px;
  display: block;
  margin-bottom: 20px;
}

/* === form bottom === */

.modal-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-bottom__description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-block: 0px 30px;
  cursor: pointer;
  /* margin-inline: auto; */
}
.modal-bottom__description .modal-bottom__description--acceptation {
  padding-top: 3px;
}
.modal-bottom__description a {
  color: var(--blue-color);
}
.modal-bottom__button {
  padding: 10px 76px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-background);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ==========CHECKBOX========== */

.modal-bottom__description input {
  position: absolute;
  cursor: pointer;
  margin-right: 8px;
  width: 0;
  height: 0;
  opacity: 0;
}
.modal-bottom__checkmark {
  position: absolute;
  top: 6px;
  left: -24px;
  height: 16px;
  width: 16px;
  fill: var(--white-background);
  border: 1px solid var(--fieldset-border-color);
  border-radius: 2px;
  background-color: var(--white-background);
  transition: background-color var(--transition-duration) var(--cubic-bezier),
    border-color var(--transition-duration) var(--cubic-bezier);
}
.modal-bottom__description input:checked ~ .modal-bottom__checkmark {
  border-color: var(--blue-color);
  background-color: var(--blue-color);
}

/* =====SECOND SECTION===== */

.section-secondary {
  display: flex;
  margin: 0;
  gap: 30px;
}
.section-secondary__background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
  background-color: var(--gray-background);
}
.section-secondary__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 30px;
}
.section-secondary__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--description-color);
}

/* =====OFFER SECTION===== */

.offer {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 94px 0px;
  margin: 0px;
}
.offer__header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: 0px;
  margin-bottom: 50px;
}
.offer__picture {
  position: relative;
}
.offer__description {
  width: 100%;
  position: absolute;
  bottom: 4px;
  padding-block: 27px;
  background: var(--offer-description-background);
}
.offer__paragraph {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-background);
}

/* =====TEAM SECTION===== */

.team {
  background-color: var(--gray-background);
  padding-block: 94px;
}
.team__header,
.clients__header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-top: 0;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  padding: 0px;
}
.team__member {
  background: var(--white-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-font-color);
}
.team__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--description-color);
}
.team__social {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}
.team__social--background {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--white-background);
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  fill: var(--grey-icon-color);
  transition: background-color var(--transition-duration) var(--cubic-bezier),
    fill var(--transition-duration) var(--cubic-bezier);
  will-change: background-color, fill;
}
.team__social--background:hover,
.socials__background:hover {
  background-color: var(--blue-color);
  fill: var(--white-background);
}

/* ===== CLIENTS SECTION ===== */

.clients__list {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.client__icon {
  display: flex;
  padding: 16px 32px;
  border: 1px solid var(--grey-icon-color);
  border-radius: 4px;
  fill: var(--grey-icon-color);
  transition: border var(--transition-duration) var(--cubic-bezier),
    fill var(--transition-duration) var(--cubic-bezier);
  will-change: border, fill;
}
.client__icon:hover {
  border-color: var(--blue-color);
  fill: var(--blue-color);
}

/* ===== FOOTER ===== */

.logo--footer {
  color: var(--white-background);
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  gap: 9px;
}
.footer-style {
  display: flex;
}
.footer {
  background-color: var(--footer-section-color);
  padding: 60px 0;
}
.socials__header,
.newsletter__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-background);
  margin-bottom: 20px;
}
.socials {
  margin-left: 70px;
}
.socials__container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.socials__background {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration) var(--cubic-bezier);
  will-change: background-color;
  fill: var(--white-background);
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-background);
}

/* ==========NEWSLETTER========== */

.newsletter__input {
  background-color: rgba(255 255 255 / 0);
  color: var(--white-background);
}
.newsletter__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter__fieldset {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  margin-right: 12px;
  margin-bottom: 0px;
}
.newsletter {
  margin-left: 108px;
}
.newsletter__form {
  display: flex;
}
.newsletter__button--icon {
  fill: var(--white-background);
  margin-left: 24px;
}
.newsletter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px 10px 42px;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-background);
  cursor: pointer;
}

/* ===== PORTFOLIO ===== */

.portfolio__list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: calc((100% - 60px) / 3);
  gap: 30px;
}

.portfolio__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  transition: box-shadow var(--transition-duration) var(--cubic-bezier);
  will-change: box-shadow;
}
.portfolio__box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__image {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.portfolio__image:hover .overlay,
.portfolio__box:hover .overlay {
  transform: translateY(0);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--overlay-background);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
}
.overlay__description {
  padding: 49px 45px 49px 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-background);
}
.portfolio__footer {
  border-right: 1px solid var(--border-grid);
  border-left: 1px solid var(--border-grid);
  border-bottom: 1px solid var(--border-grid);
}
.portfolio__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-bottom: 4px;
}
.portfolio__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-top: 0px;
  color: var(--description-color);
}

/* === PORTFOLIO BUTTONS === */

.portfolio__buttons {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 56px;
}
.button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: var(--main-font-color);
  background-color: var(--gray-background);
  border: 0px solid var(--gray-background);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  transition: background-color var(--transition-duration) var(--cubic-bezier),
    color var(--transition-duration) var(--cubic-bezier),
    box-shadow var(--transition-duration) var(--cubic-bezier);
  will-change: background-color, color, box-shadow;
}
.button:hover,
.button:focus {
  background-color: var(--blue-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
