.section-primary {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-image-linear-gradient);
  background-image: url(../images/buisness-section-background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1600px;
  padding: 200px 452px;
  
  &__header {
    display: flex;
    text-align: center;
    align-items: center;
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin: auto;
  }
  &__button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #ffffff;
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    padding: 10px 41px 10px 42px;
  }
}
