.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px 25px;
}
.header__contact-wrapper {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.wrapper {
  margin: auto;
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;

  &__studio {
    color: var(--black-color);
  }
}
