.modal__header {
  margin-block: 0px 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.fieldset {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 28px;
  padding-block: 14px;
  padding-left: 15px;
  border: 1px solid var(--fieldset-border-color);
  border-radius: 4px;
  &__label {
    position: absolute;
    left: 0px;
    top: -17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--contact-color);
  }
  &__icon {
    margin-right: 15px;
  }
}
.fieldset__input,
.input-comment {
  border: none;
  width: 100%;
}
.input-comment {
  outline: none;
}
.fieldset__input:focus {
  outline: none;
}
.fieldset__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}
.fieldset:has(input:focus),
.fieldset:focus {
  border-color: var(--blue-color);
}
.fieldset:has(input:focus) {
  fill: var(--blue-color);
}
fieldset:nth-child(4) {
  height: 120px;
  display: block;
  margin-bottom: 20px;
}
