.navigation {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  margin-block: 0;
  margin-right: 371px;

  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-font-color);
    transition: color var(--transition-duration) var(--cubic-bezier);
    will-change: color;
    &:hover,
    &:focus {
      color: var(--blue-color);
    }
  }
}

.nav-highlight {
  position: relative;

  &::after {
    left: 0;
    bottom: -33px;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--blue-color);
  }
}
