.newsletter__input {
  background-color: rgba(255 255 255 / 0);
  color: var(--white-background);

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}
.newsletter {
  margin-left: 108px;

  &__fieldset {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
  &__form {
    display: flex;
  }
}
.newsletter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px 10px 42px;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-background);
  cursor: pointer;

  &--icon {
    fill: var(--white-background);
    margin-left: 24px;
  }
}
