.newsletter__input {
  background-color: rgba(255 255 255 / 0);
  color: var(--white-background);

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}
.newsletter {
  @media screen and (min-width: 1200px) {
    margin-left: 79px;
  }

  &__fieldset {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 450px;
    margin-inline: auto;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }
}
.newsletter__button {
  position: relative;
  width: 200px;
  height: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 10px 42px 10px 0px;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-background);
  cursor: pointer;
  margin-inline: auto;

  &--icon {
    position: absolute;
    top: 13px;
    right: 28px;
    fill: var(--white-background);
    // margin-left: 24px;
  }
}
