.section-secondary {
  display: flex;
  margin: 0;
  gap: 30px;

  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
    background-color: var(--gray-background);
  }
  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 30px;
  }
  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--description-color);
  }
}
