.team {
  background-color: var(--gray-background);
  padding-block: 94px;
  
  &__header {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-top: 0;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
  }
  &__member {
    background: var(--white-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__name {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-font-color);
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--description-color);
  }
  &__social {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;

    &--background {
      display: flex;
      width: 44px;
      height: 44px;
      background-color: var(--white-background);
      border-radius: 22px;
      justify-content: center;
      align-items: center;
      fill: var(--grey-icon-color);
      transition: background-color var(--transition-duration)
          var(--cubic-bezier),
        fill var(--transition-duration) var(--cubic-bezier);
      will-change: background-color, fill;
    }
  }
}
.team__social--background:hover,
.socials__background:hover {
  background-color: var(--blue-color);
  fill: var(--white-background);
}
