body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  padding: 0;
  color: var(--main-font-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.list-style {
  list-style-type: none;
  padding: 0px;
}
