:root {
  --blue-color: #2196f3;
  --black-color: #000000;
  --contact-color: #757575;
  --footer-section-color: #2f303a;
  --gray-background: #f5f4fa;
  --white-background: #ffffff;
  --main-font-color: #212121;
  --description-color: #757575;
  --main-image-linear-gradient: rgba(47, 48, 58, 0.4);
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --border-grid: #eeeeee;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --offer-description-background: rgba(47, 48, 58, 0.8);
  --overlay-background: rgba(33, 150, 243, 0.9);
  --grey-icon-color: #afb1b8;
  --fieldset-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}
